<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This my beer list</h1>
    <%= beer.name %> is a type of <%= beer.type %>
    <% if(beer.readyToDrink === true) { %>
      <h3>DRINK UP</h3>
  <%  } else { %>
    <h3>CAN NOT DRINK UP</h3>
    <%  } %>
  </body>
</html>
