<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome To Pet Portal</h1>
    <nav>
      <li><a href='/pets'>Pets</a></li>
      <li><a href='/owners'>Owners</a></li>
    </nav>
  </body>
</html>
