<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ANIMAL INFO</h1>
    <%= animals.name %> the <%= animals.type %>
  </body>
</html>
