h1{
  background: rgb(40, 164, 164);
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
footer{
  color: #A4D5D5;
  background: rgb(40, 164, 164);
}
body{
  background: rgb(193, 240, 240)
}
